body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 20px;
}

#sketchpadContainer {
    background-color: #f4f4f4;
    display: flex;
    width: 500px;
    height: 500px;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}